<%-include('templates/head')%>

<link rel="stylesheet" href="./css/battleship.css">

</head>

<body>
    <%-include('templates/header')%>

    <div id="game-menu">
        <%-include('templates/gameMenu')%>
    </div>
    <div id="game">


        
        <table>
            
            
            <% for(let i = 0;  i < 8; i++){ %>
                <tr>
                
                <% for(let j = 0; j < 8; j++){%>
                    <td>
                    <button  id = "<%= i %><%= j %>"  onclick ="fetchTurn(id)" >
                        DATA
                    </button>
                    </td>
                <% }%>
                </tr>
                
            <% }%>
            
        </table>
        
    </div>
    <!--<button onclick ="fetchTurn()" id='move-button' > Turno </button>-->
    <div id="player-data">

    </div>
    
</body>



</html>

<!--                     <p id = `cell${i}${j}`> 
                        DATA 
                     <p>-->